body #page .search-result-sec .banner-ad{text-align: center; height: 550px; background: rgba(65, 65, 65, 0.7); border-radius: 35px; padding: 1em;}
body #page .search-result-sec .banner-ad p{font-family: var(--global-font-family); font-size: 0.875em; font-weight: 400; color: #fff;}
body #page .search-result-sec .search-results{max-width: 550px; margin: 0 auto;}
body #page .search-result-sec .search-results table{width: 100%; border-collapse: collapse; border-radius: 32px; color: #626161;}
body #page .search-result-sec .search-results th{text-align: center; padding: 1em 0.5em; background: #423f3f; border: 1px solid #626161;}
body #page .search-result-sec .search-results td{text-align: center; padding: 1em 0.5em; background: #423f3f; border: 1px solid #626161;}
body #page .search-result-sec .search-results td button{padding: 1em 2em; border-radius: 999px; border: none; color: #000; background: #00ff00; font-weight: 700; font-size: 1em;}
body #page .search-result-sec .search-results td button:hover{background: #03aa03; cursor: pointer; transition: 0.4s;}

@media (max-width: 767px){ 
body #page .search-result-sec .banner-ad{height: 15em; margin-top: 5em;}
body #page .search-result-sec .search-results table{margin: 3em 0 3em 0;}
body #page .search-result-sec .search-results td button{padding: 0.5em 1em;}
}
